* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.title {
    font-family: "Raleway";
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 400;
    position: relative;
    padding-bottom: 34px;
    margin-bottom: 34px;
}

.title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: calc( 100% / 2 - 32px );
    width: 64px;
    height: 2px;
}

.title_light {
    color: black;
}

.title_light::after {
    content: '';
    background-color: #E72424;
}

.title_dark {
    color: white;
}

.title_dark::after {
    content: '';
    background-color: #FFFFFF;
}

.description {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.description_light {
    color: #86878B;
}

.description_dark {
    color: rgba(255, 255, 255, 0.8);
}

.sub_title,
.card__title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}

.button_text {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

li {
    list-style: none;
}

button {
    position: relative;
    width: 135px; 
    height: 42px; 
    border:1px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
    background-color: transparent;
    overflow: hidden;
    transition: 0.6s
}

button:before, button:after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    filter: blur(30px);
    opacity: 0.4;
    transition: 0.6s;
}

button:before{
    width: 60px;
    background: rgba(255,255,255,0.6);
    transform: translateX(-130px) skewX(-45deg);
}

button:after{
    width: 30px;
    background: rgba(255,255,255,0.6);
    transform: translateX(-130px) skewX(-45deg);
}

button:hover:before,
button:hover:after{
    opacity: 0.6;
    transform: translateX(320px) skewX(-45deg);
}

button:hover{
    background: #d84e4e;
}

.button_filled {
    border: 1px solid #EC7979;
    background-color: #EC7979; 
}

nav {
    background-color: #000000;
    height: 70px;
    padding: 0 108px 0 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation_list {
    display: flex;
}

.navigation_list li {
    padding-left: 48px;
}

.navigation_list li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7)
}

.navigation_list li a:hover{
    color: rgb(255, 255, 255)
}

.flex_wrapper {
    display: flex;
    justify-content: space-between;
}

.modern_axure {
    background-image: url("./images/header_background.svg");
    height: 601px;
    position: relative;
    z-index: 1;
}

.modern_axure::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .45);
    z-index: -1;
}

.modern_axure_content {
    padding: 108px 110px 101px 110px;
}

.modern_axure_text img {
    width: 129px;
    height: 70px;
}

.modern_axure_title {
    margin-top: 32px;
    padding-bottom: 44px;
}

.modern_axure_title::after {
    content: '';
    bottom: 0;
    left: 0;
}

.modern_axure_description {
    margin-top: 39px;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 300;
    position: relative;
    line-height: 19px;
}

.modern_axure_text button {
    margin-top: 39px;
}

.application_form {
    width: 370px;
    margin-bottom: 22px;
    border-radius: 8px;
    background-color: #FFFFFF;
    text-align: center;
    overflow: hidden;
}

.application_form_title {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    color: #EC7979;
}
 
.input_wrapper {
    padding: 25px 59px;
}
 
.input-data {
    margin-top: 27px;
    width: 100%;
    height: 100%;
    font-size: 14px;
    height: 30px;
    position: relative;
}

.input-data_middle {
    margin-top: 51px;
    width: 100%;
    height: 100%;
    font-size: 14px;
    height: 32px;
    position: relative;
}

.input-data_big {
    margin-top: 51px;
    width: 100%;
    height: 100%;
    font-size: 14px;
    height: 46px;
    position: relative;
}

.input-data input {
    height: 1005;
    width: 100%;
    border: none;
    font-size: 14px;
    border-bottom: 2px solid #86878B;
    outline: 0;
}

.input-data input{
    height: 100%;
}

.input-data input:focus ~ label,
.input-data input:valid ~ label{
    transform: translateY(-100%);
    font-size: 14px;
    color: #EC7979;
    outline: 0;
    outline-offset: 0;
}

.input-data label{
    position: absolute;
    bottom: 14px;
    left: 0;
    color: #86878B;
    pointer-events: none;
    transition: all 0.3s ease;
}

.input-data .underline{
    position: absolute;
    height: 2px;
    width: 100%;
}

.input-data .underline:before{
    position: absolute;
    content: "";
    left: 0;
    height: 100%;
    width: 100%;
    background: #EC7979;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before{
    transform: scaleX(1);
}

.application_form button {
    margin-top: 39px;
    width: 100%; 
    height: 54px; 
}

.social_media {
    height: 110px;
    background-color: #F8EFEF;
    padding: 0 111px;
}

.social_media_text {
    padding-top: 14px;
}

.social_media_text p {
    margin-top: 14px;
}

.social_media_icons {
    margin-top: 25px;
}

.social_media_icons img{
    margin-left: 40px;
    width: 8%;
}

.social_media_icons img:hover {
    transition: all ease 1s;
    filter: brightness(0);
}

.feautures {
    height: 600px;
    padding: 100px 117px 0 111px ;
}

.feautures h3+p {
    margin-top: 58px;
    margin-bottom: 14px;
}

.feautures_buttons {
    margin: 25px 0 0 0;
    width: 112px;
}

.feautures_button {
    width: 112px; 
    height: 110px; 
    border-radius: 4px;
    border: 1px solid  rgba(51, 51, 51, 1);
    background-color: rgba(51, 51, 51, 1);
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 20px;
}

.feautures_button:hover {
    border: 1px solid #EC7979;
    background-color: #EC7979;
}

.feautures_text {
    width: 572px;
    margin-top: 26px;
    text-transform: uppercase;
}

.feautures_text p:nth-child(2) {
    margin-bottom: 19px;
}

.feautures_text button {
    margin-top: 89px;
}  

.process__body {
    height: 600px;
    text-align: center;
    padding: 80px 144px 0 147px;
}

.process__cards {
    margin: 67px -16px 0 -16px;
    width: calc(100% + 32px);
    display: flex;
}

.process__card {
    padding: 0 16px;
}

.process__card img {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
}

.card__circle {
    width: 70px; 
    height: 70px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #E72424;
    position: relative;
    margin-bottom: 30px;
}

.card__description {
    margin-top: 16px;
}

.pricing {
    height: 800px;
    background-color: #F5F5F5;
    text-align: center;
}

.pricing h2{
    padding-top: 80px;
}

.pricing_cards {
    margin-top: 47px;
    padding: 0 112px;
}

.pricing_card {
    width: 340px;
}

.pricing_cards ul:nth-child(odd) {
    margin-top: 15px;
}

.pricing_card li:nth-child(-n + 3) {
    background-color: #333333;
    color: rgba(255, 255, 255, 1);
}

.pricing_card li:nth-child(n + 4) {
    background-color: #FFFFFF;
    height: 40px;
    margin-top: 4px;
    line-height: 40px;
}

.pricing_card li:nth-child(1) {
    height: 50px;
    line-height: 50px;
}

.pricing_card li:nth-child(2) {
    margin-top: 1px;
    margin-bottom: 2px;
    height: 100px;
    font-family: "Raleway";
    font-size: 35px;
    font-weight: 700;
    line-height: 100px;
}

.pricing_card li:nth-child(3) {
    height: 50px;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
    line-height: 50px;
}

.reviews {
    height: 599px;
    text-align: center;
}

.reviews h2 {
    padding-top: 80px;
}

.cards_reviews {
    padding: 67px 83px 0 101px;
}

.card_reviews {
    height: 202px;
    width: 298px;
    margin: 0 56px;
}

.card_reviews_text {
    height: 110px;
    background-color: #E2E2E2;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    margin-top: 22px;
    display: flex;
    justify-content: center;
}

.avatar div {
    margin: 7px 0 0 45px;
}

.stylish_design {
    background-image: url("./images/background.svg");
    height: 325px;
    position: relative;
    z-index: 2;
    text-align: center;
    padding-top: 58px;
}

.stylish_design::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .65);
    z-index: -1;
}

.stylish_design p {
    margin-bottom: 57px;
}

.contact_us {
    height: 700px;
    text-align: center;
}

.contact_us h2{
    padding-top: 80px;
}

.contact_us_message {
    margin-top: 95px;
    padding: 0 111px; 
}

.contact_us_input {
    width: 478px;
}

.message {
    width: 478px;
    text-align: left;
}

.message label {
    color: #86878B;
}

.contact_us textarea {
    height: calc(100% - 15px);
    width: 100%;
    resize: none;
    outline:none;
    border: none;
    border-bottom: 2px solid #86878B;
}

.contact_us button {
    margin-top: 69px; 
}

footer {
    background-color: #000000;
    height: 101px;
    text-align: center;
}

footer div {
    margin-top: 30px;
}

footer img {
    width: 23px;
    height: 23px;
    margin: 30px 16px 0 16px;
    filter: brightness(50%);
}

footer p {
    margin-top: 18px;
    color: rgba(255, 255, 255, 0.5);
}
